*.pyc
__pycache__
myvenv
db.sqlite3
projektdziennik/static/
.DS_Store
local_settings.py
media/

# migrations
**/migrations/**
!**/migrations
!**/migrations/__init__.py


# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.cache
nosetests.xml
coverage.xml