amqp==1.4.9
anyjson==0.3.3
appdirs==1.4.3
asn1crypto==0.22.0
backports.shutil-get-terminal-size==1.0.0
billiard==3.3.0.23
celery==3.1.18
cffi==1.10.0
coverage==4.4.1
cryptography==1.8.1
decorator==4.1.2
dj-database-url==0.4.1
Django==1.9.8
django-crispy-forms==1.6.0
django-registration-redux==1.4
enum34==1.1.6
Faker==0.7.3
gunicorn==19.6.0
idna==2.5
ipaddress==1.0.18
ipdb==0.10.3
ipython==5.4.1
ipython-genutils==0.2.0
kombu==3.0.37
mixer==5.6.6
packaging==16.8
pathlib2==2.3.0
pexpect==4.2.1
pickleshare==0.7.4
prompt-toolkit==1.0.15
ptyprocess==0.5.2
py==1.4.34
pycparser==2.17
Pygments==2.2.0
PyJWT==1.4.2
pyOpenSSL==16.2.0
pyparsing==2.2.0
pytest==3.2.2
pytest-cov==2.5.1
pytest-django==3.1.2
python-dateutil==2.6.1
pytz==2017.2
redis==2.10.3
requests==2.13.0
scandir==1.5
simplegeneric==0.8.1
six==1.10.0
traitlets==4.3.2
twilio==6.0.0
wcwidth==0.1.7
whitenoise==3.2.2
psycopg2==2.6.2