{% extends "edziennik/base.html" %}

{% block content %}

<p>Nazwa grupy: <b>{{ group.name }}</b></p>

<form action="{% url 'edziennik:process_quizlet' %}" method="post">
	{% csrf_token %}
    <table class="table">
            <tr>
                <th>Uczeń</th>
                <th>Dodaj pieczątkę za quizlet</th>
            </tr>
            {% for student in students %}
            <tr>
                <td>
                    <label for="student{{ forloop.counter }}">{{ student.name }}</label><br />
                </td>
                <td>
                        <input type="checkbox"
                        name="student"
                        id="student{{ forloop.counter }}"
                        value="{{ student.id }}" />
                </td>
            </tr>
            {% endfor %}
            
        </table>
	<input type="submit" value="Zatwierdzam" />

</form>

{% endblock content %}