{% extends "edziennik/base.html" %}
{% block content %}

<form action="{% url 'edziennik:advanced_settings' %}" method="post">
    {% csrf_token %}
    <div id='Quizlet'>
        <h1>Quizlet</h1>
        <div class="fieldWrapper">
            {{ form.quizlet_username.errors }}
            {{ form.quizlet_username.label_tag }}
            {{ form.quizlet_username }}
        </div>
        <div class="fieldWrapper">
            {{ form.quizlet_password.errors }}
            {{ form.quizlet_password.label_tag }}
            {{ form.quizlet_password }}
        </div>
        <div class="fieldWrapper">
            {{ form.check_quizlet_automatically.errors }}
            <label for="id_check_quizlet_automatically">Sprawdzaj quizlet automatycznie:</label>
            {{ form.check_quizlet_automatically }}
            <p><small>Jeśli zaznaczysz powyższe pole Quizlet będzie sprawdzany automatycznie o 2:00 w poniedziałek. Uczniowie
                 którzy ukończyli minimum 2 ćwiczenia zostaną oznaczeni aby otrzymać plus
                  przy sprawdzaniu obecności. Aby ta funckcja działała poprawnie upewnij się że każdy z uczniów w edzienniku ma wpisany poprawny quizlet username</small></p>
        </div>
        <button id="btnQuizletTest" class="btn btn-warning" type="button">
            <p>Sprawdź teraz
                <br>
                <small>Email zostanie wysłany adminowi</small>
            </p>
        </button>
    </div>
    <hr>

    <div>
        <h1>SMS</h1>
        <div class="fieldWrapper">
            {{ form.twilio_account_sid.errors }}
            {{ form.twilio_account_sid.label_tag }}
            {{ form.twilio_account_sid }}
        </div>
        <div class="fieldWrapper">
            {{ form.twilio_auth_token.errors }}
            {{ form.twilio_auth_token.label_tag }}
            {{ form.twilio_auth_token }}
        </div>
        <div class="fieldWrapper">
            {{ form.twilio_messaging_service_sid.errors }}
            {{ form.twilio_messaging_service_sid.label_tag }}
            {{ form.twilio_messaging_service_sid }}
        </div>
        <div class="fieldWrapper">
            {{ form.sms_when_absent.errors }}
            <label for="id_sms_when_absent">Wyślij SMS rodzicowi jak nieobecny:</label>
            {{ form.sms_when_absent }}
        </div>
        <div class="fieldWrapper">
            {{ form.sms_when_no_homework.errors }}
            <label for="id_sms_when_no_homework">Wyślij SMS rodzicowi jak brak zadania domowego:</label>
            {{ form.sms_when_no_homework }}
        </div>
        <hr>
        <div class="fieldWrapper">
            <h3>Wiadomość o nieobecności</h3>
            <p>w treści możesz podać nazwę (imię i nazwisko) ucznia wpisując
                 {% templatetag openvariable %}name{% templatetag closevariable %} oraz
                formę gramatyczną dla wersji męskiej i żeńskiej wpisując w miejsce gwiazdek męską
                a następnie żeńską formę w znaczniku &lt;&lt;***#***&gt;&gt;. np:
            </p>
            <p>'Informujemy, że {% templatetag openvariable %}name{% templatetag closevariable %} 
                &lt;&lt;nie był dziś obecny#nie była dziś obecna&gt;&gt; na zajęciach językowych w Szkole Energy.'</p>
            {{ form.sms_message_absence.errors }}
            <!-- {{ form.sms_message_absence.label_tag }} -->
            {{ form.sms_message_absence }}
        </div>
        <button id='btnShowAbsence' class="btn btn-warning" type="button">podgląd</button>
        <div id="absenceMsg" class="d-none">
            <h3>męska wersja</h3>
            <p id="maleAbsenceMsg"></p>
            <h3>żeńska wersja</h3>
            <p id="femaleAbsenceMsg"></p>
        </div>
        <hr>
        <div class="fieldWrapper">
            <h3>Wiadomość o braku zadania domowego</h3>
            <p>w treści możesz podać nazwę (imię i nazwisko) ucznia wpisując
                {% templatetag openvariable %}name{% templatetag closevariable %} oraz
                formę gramatyczną dla wersji męskiej i żeńskiej wpisując w miejsce gwiazdek męską
                a następnie żeńską formę w znaczniku &lt;&lt;***#***&gt;&gt;. np:
            </p>
            <p>'Informujemy, że {% templatetag openvariable %}name{% templatetag closevariable %}
                &lt;&lt;nie miał dziś zadania domowego#nie miała dziś zadania domowego&gt;&gt; na zajęciach językowych w Szkole Energy.'</p>
            {{ form.sms_message_no_homework.errors }}
            <!-- {{ form.sms_message_no_homework.label_tag }} -->
            {{ form.sms_message_no_homework }}
        </div>
        <button id='btnShowNoHomework' class="btn btn-warning" type="button">podgląd</button>
        <div id="noHomeworkMsg" class="d-none">
            <h3>męska wersja</h3>
            <p id="maleNoHomeworkMsg"></p>
            <h3>żeńska wersja</h3>
            <p id="femaleNoHomeworkMsg"></p>
        </div>
        <hr>
        <div>
            <h2>Sprawdź działanie SMSów</h2>
            <p>Kliknij w przycisk 'Sprawdź', podaj nr telefonu, na który chcesz otrzymać wiadomości. 
                Otrzymasz 4 SMS (męską i żeńską wersję nieobecności i braku zadania domowego.</p>
        </div>
        <button id="btnSMSTest" class="btn btn-warning" type="button">
            <p>Sprawdź</p>
                </button>
        <div class="fieldWrapper d-none" id="acceptPhone">
            <input id="id_test_tel" type="tel" pattern="[0-9]{9}" name="test_tel">
            <button id="btnAcceptPhoneNo" class="btn btn-warning" type="button">OK</button>
        </div>
    </div>
    <hr>

    <div>
        <h1>Email</h1>
        <div class="fieldWrapper">
            {{ form.school_admin_email.errors }}
            {{ form.school_admin_email.label_tag }}
            {{ form.school_admin_email }}
        </div>
        <div class="fieldWrapper">
            {{ form.send_email_weekly_attendance_report.errors }}
            <label for="id_send_email_weekly_attendance_report">Wyślij co tydzień (w niedzielę w nocy) raport o obecności i ocenach na Twoj email:</label>
            {{ form.send_email_weekly_attendance_report }}
        </div>
    </div>

    <hr>

        <a class="btn blue-btn ml-3 float-right" 
        href="{% url 'edziennik:initial_import_list' %}">
        Importuj uczniów z pliku xlsx</a>

    <hr>
    <input type="submit" value="Zatwierdzam" />
</form>

{% endblock content %}

{% block javascript %}
<script>
let btnQuizletTest = document.getElementById('btnQuizletTest');
let btnShowAbsence = document.getElementById('btnShowAbsence');
let btnShowNoHomework = document.getElementById('btnShowNoHomework');
let btnSMSTest = document.getElementById('btnSMSTest');
let btnAcceptPhoneNo = document.getElementById('btnAcceptPhoneNo');

btnQuizletTest.addEventListener('click', function () {
    let quizlet_username = document.getElementById('id_quizlet_username').value;
    let quizlet_password = document.getElementById('id_quizlet_password').value;
    let admin_email = document.getElementById('id_school_admin_email').value;
    if (admin_email=='') {
        alert('najpierw podaj adres email (u dołu)');
        return;
        }
    // show user that the request was accepted
    btnQuizletTest.className = 'btn btn-danger';
    btnQuizletTest.innerHTML = '<p>Rządanie przyjęte</p>';
    
    const xhr = new XMLHttpRequest();
    xhr.onload = function(){
        if (this.status == 200) {
            let response = JSON.parse(this.responseText);
            if (response.result=='Success!'){
                btnQuizletTest.className = 'btn btn-success';
                btnQuizletTest.innerHTML = '<p>Sprawdzam quizlet i wyślę email</p>';
            }
            if (response.result == 'Invalid_email') {
                alert('Podaj prawidłowy adres email');
                btnQuizletTest.innerHTML = '<p>Sprawdź teraz</p>';
                btnQuizletTest.className = 'btn btn-warning';
            }
            if (response.result=='Error'){
                btnQuizletTest.innerHTML = '<p>Wystąpił błąd</p>';
            }
        }
    }
    xhr.open('POST', '{% url "edziennik:quizlet_test_email" %}', true);
    xhr.setRequestHeader('Content-type', 'application/x-www-form-urlencoded');
    let token = document.getElementsByName('csrfmiddlewaretoken')[0].value;
    xhr.setRequestHeader("X-CSRFToken", token);
    data = ('username=' + quizlet_username +
            '&password=' + quizlet_password +
            '&adminEmail=' + admin_email)
    xhr.send(data);
    xhr.onerror = function () {
        console.log(xhr.statusText);
    }
})

btnShowAbsence.addEventListener('click', function(){
    console.log(this)
    let message_absence = document.getElementById('id_sms_message_absence');
    if (message_absence.value == '') {
        alert('wpisz wiadomość w pole');
        return;
    }
    // show user that the request was accepted
    btnShowAbsence.className = 'btn btn-danger';
    btnShowAbsence.innerHTML = '<p>Rządanie przyjęte</p>';

    const xhr = new XMLHttpRequest();
    xhr.onload = function () {
        if (this.status == 200) {
            btnShowAbsence.className = 'btn btn-warning';
            btnShowAbsence.innerHTML = '<p>Sprawdź ponownie</p>';
            document.getElementById('absenceMsg').className = '';
            let response = JSON.parse(this.responseText);
            let maleAbsenceMsg = document.getElementById('maleAbsenceMsg');
            let femaleAbsenceMsg = document.getElementById('femaleAbsenceMsg');
            maleAbsenceMsg.innerText = response.male_msg;
            femaleAbsenceMsg.innerText = response.female_msg;
        }
    }
    xhr.open('POST', '{% url "edziennik:message_test" %}', true);
    xhr.setRequestHeader('Content-type', 'application/x-www-form-urlencoded');
    let token = document.getElementsByName('csrfmiddlewaretoken')[0].value;
    xhr.setRequestHeader("X-CSRFToken", token);
    data = ('msg=' + message_absence.value);
    xhr.send(data);
    xhr.onerror = function () {
        console.log(xhr.statusText);
    }
})

btnShowNoHomework.addEventListener('click', function () {
    console.log(this)
    let message_no_homework = document.getElementById('id_sms_message_no_homework');
    if (message_no_homework.value == '') {
        alert('wpisz wiadomość w pole');
        return;
    }
    // show user that the request was accepted
    btnShowNoHomework.className = 'btn btn-danger';
    btnShowNoHomework.innerHTML = '<p>Rządanie przyjęte</p>';

    const xhr = new XMLHttpRequest();
    xhr.onload = function () {
        if (this.status == 200) {
            btnShowNoHomework.className = 'btn btn-warning';
            btnShowNoHomework.innerHTML = '<p>Sprawdź ponownie</p>';
            document.getElementById('noHomeworkMsg').className = '';
            let response = JSON.parse(this.responseText);
            let maleNoHomeworkMsg = document.getElementById('maleNoHomeworkMsg');
            let femaleNoHomeworkMsg = document.getElementById('femaleNoHomeworkMsg');
            maleNoHomeworkMsg.innerText = response.male_msg;
            femaleNoHomeworkMsg.innerText = response.female_msg;
        }
    }
    xhr.open('POST', '{% url "edziennik:message_test" %}', true);
    xhr.setRequestHeader('Content-type', 'application/x-www-form-urlencoded');
    let token = document.getElementsByName('csrfmiddlewaretoken')[0].value;
    xhr.setRequestHeader("X-CSRFToken", token);
    data = ('msg=' + message_no_homework.value);
    xhr.send(data);
    xhr.onerror = function () {
        console.log(xhr.statusText);
    }
})

function verifiNotEmpty(s) {
    if (s.value==""){
        console.log(s);
        s.style.border = '2px solid red'
        alert('wypełnij wymagane pola - zaznaczone na czerwono')
        return false
    }
    else {
        return true
    }
}
btnSMSTest.addEventListener('click', function () {
    // display phone number input
    document.getElementById('acceptPhone').className = '';
})

btnAcceptPhoneNo.addEventListener('click', function () {
    let account_sid = document.getElementById('id_twilio_account_sid');
    let auth_token = document.getElementById('id_twilio_auth_token');
    let messaging_service_sid = document.getElementById('id_twilio_messaging_service_sid');
    let message_absence = document.getElementById('id_sms_message_absence');
    let message_no_homework = document.getElementById('id_sms_message_no_homework');
    let test_tel = document.getElementById('id_test_tel');



    // validate inputs
    for (let i of [account_sid, auth_token, message_absence, message_no_homework,
                    id_test_tel, messaging_service_sid]){
        let s = verifiNotEmpty(i);
        if (!s){
            return;
        }
    }
    if (account_sid.value=='' || auth_token.value=='' || message_absence.value == '' ||
        message_no_homework.value=='' || id_test_tel.value=='' || messaging_service_sid.value==''){
        console.log('aborted due to unsufficient input')
        return;
    }

    // show user that the request was accepted
    btnSMSTest.className = 'btn btn-danger';
    btnSMSTest.innerHTML = '<p>Rządanie przyjęte</p>';

    // hide phone number input
    document.getElementById('acceptPhone').className = 'd-none';

    const xhr = new XMLHttpRequest();
    xhr.onload = function () {
        if (this.status == 200) {
            let response = JSON.parse(this.responseText);
            if (response.result == 'Success!') {
                btnQuizletTest.className = 'btn btn-success';
                btnQuizletTest.innerHTML = '<p>Wysłano SMS</p>';
            }
        }
    }
    xhr.open('POST', '{% url "edziennik:sms_test" %}', true);
    xhr.setRequestHeader('Content-type', 'application/x-www-form-urlencoded');
    let token = document.getElementsByName('csrfmiddlewaretoken')[0].value;
    xhr.setRequestHeader("X-CSRFToken", token);
    data = ('account_sid=' + account_sid.value +
        '&auth_token=' + auth_token.value +
        '&messaging_service_sid=' + messaging_service_sid.value +
        '&message_no_homework=' + message_no_homework.value + 
        '&message_absence=' + message_absence.value +
        '&test_tel=' + test_tel.value)
    xhr.send(data);
    xhr.onerror = function () {
        console.log(xhr.statusText);
    }
    
})
</script>

{% endblock javascript %}