{% extends "edziennik/base.html" %}
{% load staticfiles %}
{% block content %}

{% if table_content %}
  <h1><small class='helper'>obecność w grupie: </small>{{ group.name }}</h1>

  <table>
    <tr>
      <th>data</th>
      <th>temat</th>
      {% for student in students %}
      <th><a href="{% url 'edziennik:name_student' student.id %}">{{ student.name }}</a></th>
      {% endfor %}
    </tr>
    
    {% for i in table_content %}
    <tr>
      {% for j in i %}
        <td>{{ j|safe }}</td>
      {% endfor %}
    </tr>
    {% endfor %}
  </table>
  <table>
    <tr>
      <td><img src="{% static 'img/x-mark-red.png' %}"></td>
      <td><img src="{% static 'img/check_sign_icon_green.png' %}"></td>
      <td><img src="{% static 'img/green_on_red.png' %}"></td>
    </tr>
    <tr>
      <td>nieobecny</td>
      <td>obecny</td>
      <td>obecny bez zadania domowego</td>
    </tr>
  </table>

{% else %}
    <p>No data is available.</p>
{% endif %}

{% endblock content %}