{% load static %}

{% include "head.html" %}
{% block scripts %}{% endblock %}
</head>
<body>
{% include "navbar.html" %}
<div class='container bg-light text-dark p-2'>
    {% if messages %}
    <ul class="messages bg-danger">
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
{% block content %}{% endblock content %}
</div>
{% block javascript %}{% endblock %}
{% include "scripts.html" %}
</body>
</html>