{% extends "edziennik/base.html" %}
{% load static %}
{% block content %}

<p>Obecność słuchaczy w dniu <b>{% now "d m Y" %}</b></p>
<p>Nazwa grupy: <b>{{ group.name }}</b></p>

{% if error_message %}
<h2>{{ error_message }}</h2>

{% else %}

<form action="{% url 'edziennik:attendance_check' group.id %}" method="post">
{% csrf_token %}
Temat lekcji: <input type="text" name="class_subject" required />

<fieldset>
<div class="table-responsive">
<table class="table">
	<tr>
		<th>Uczeń</th>
		<th>Obecność</th>
		<th>Zadanie domowe</th>
		<th>Quizlet</th>
	</tr>
	{% for student in students %}
	<tr>
		<td>
			<label for="student{{ forloop.counter }}">{{ student }}</label><br />
		</td>
		<td>
				<input type="checkbox"
				name="student"
				id="student{{ forloop.counter }}"
				value="{{ student.id }}" />
		</td>
		<td>
			<input type="checkbox"
			name="homework"
			id="homework{{ forloop.counter }}"
			value="{{ student.id }}" />
			<label for="homework{{ forloop.counter }}"></label><br />
		</td>
		<td>
			{% if student.quizlet %}
			<img src="{% static 'img/check_sign_icon_green.png' %}">
			{% else %}
			{% endif %}
		</td>
	</tr>
	{% endfor %}
	
</table>
</div>
<input type="submit" value="Zatwierdzam" />
</fieldset>
</form>
{% endif %}

{% endblock content %}