{% extends "edziennik/base.html" %}
{% load static %}

{% block content %}

<div class="row">
    <div class="col-sm-3">Nazwa grupy: <b>{{ group.name }}</b></div>
    <div class="col-sm-9">
    {% if request.user.is_superuser %}
        Lektor prowadzący:
        {% if lector %}
        <a href="{% url 'edziennik:lector' lector.id %}">
            <b>{{ lector.user.get_full_name }}</b>
        </a>
        {% else %}
        nie przydzielono lektora
        {% endif %}
        
        <button class="btn btn-primary btn-sm mx-3 mb-1 btnToggle" type="button" 
        >zmień lektora</button>
        <div id="collapseNewLector" class="d-none">
        nowy lektor:
        <form action="" method="POST" class="d-inline-block">{% csrf_token %}
            <select name="newLectorId">
                {% for l in lectors %}
                <option value="{{ l.id }}">{{ l.user.get_full_name }}</option>
                {% endfor %}
            </select>
            <input type="submit" value="Zatwierdź">
        </form>
        </div>
    {% endif %}
    </div>

</div>

<section>
    
    {% if request.user.is_superuser %}
    <a href="{% url 'edziennik:add_quizlet' group.id %}">
        <button class="btn blue-btn">Dodaj quizlet</button>
    </a>
    {% endif %}

    <a href="{% url 'edziennik:group_check' group.id %}">
        <button class="btn blue-btn">Sprawdź obecność</button>
    </a>
    <a href="{% url 'edziennik:group_grades' group.id %}">
        <button class="btn blue-btn">Dodaj oceny</button>
    </a>
    <a href="{% url 'edziennik:attendance_by_group' group.id %}">
        <button class="btn blue-btn">Pokaż frekwencje</button>
    </a>
    <a href="{% url 'edziennik:show_group_grades' group.id %}">
        <button class="btn blue-btn">Pokaż oceny</button>
    </a>
    <a href="{% url 'edziennik:add_homework' group.id %}">
        <button class="btn blue-btn">Homework</button>
    </a>
</section>
<hr>

<div class="row">
    <div class="col-sm text-center">
        Uczniowie:
            <ul class="list-unstyled">
                {% for s in students %}
                <li>
                    <a href="{% url 'edziennik:student' s.id %}">{{ s }}</a>
                </li>
                {% endfor %}
            </ul>

    </div>
    {% if request.user.is_superuser %}
    <div class="col-sm">
        <button class="btn btn-primary btn-sm mb-1 btnToggle" type="button">
            dodaj studentów</button>
        <div class="d-none">
            zaznacz uczniów do dodania:
            <form action="" method="POST" class="d-inline-block" id="selectWithSearch">{% csrf_token %}
                <input type="text" placeholder="wyszukaj ucznia">
                <select name="newStudentId" multiple>
                    {% for s in all_students %}
                    <option value="{{ s.id }}">{{ s }} (rodzic: {{ s.parent }})</option>
                    {% endfor %}
                </select>
                <input type="submit" value="Zatwierdź">
            </form>
        </div>
    </div>
    <div class="col-sm">
        <button class="btn btn-primary btn-sm mb-1 btnToggle" type="button">
            usuń studentów</button>
        <div class="d-none">
            zaznacz uczniów do usunięcia:
            <form action="" method="POST" class="d-inline-block">{% csrf_token %}
                <select name="delStudentId" multiple>
                    {% for s in students %}
                    <option value="{{ s.id }}">{{ s }} (rodzic: {{ s.parent }})</option>
                    {% endfor %}
                </select>
                <input type="submit" value="Zatwierdź">
            </form>
        </div>
        </div>
    </div>
    {% endif %}
</div>

<hr>
<section>
    <p>Zadania domowe:</p>
    <table class="table">
        <thead>
            <td>Data</td>
            <td>Treść</td>
        </thead>
        {% for h in homeworks %}
        <tr>
            <td>{{ h.classdate.date_of_class|date:"d.m.Y" }}</td>
            <td>{{ h.message }}</td>

        </tr>
        {% endfor %}
    </table>
</section>


{% endblock content %}

{% block javascript %}
<script src="{% static 'scripts/selectWithSearch.js' %}"></script>
<script>
    for (let i of document.getElementsByClassName('btnToggle')) {
        i.addEventListener('click', showToggle);
    }

    function showToggle(e) {
        if (e.target.nextElementSibling.className == 'd-inline-block') {
            e.target.nextElementSibling.className = 'd-none';
        }
        else {
            e.target.nextElementSibling.className = 'd-inline-block';
        }
    }
</script>
{% endblock %}