{% extends "edziennik/base.html" %}
{% load static %}

{% block content %}
<div class="row my-3">
    <div class="col-md-6">
        <small class="text-muted">Nazwa grupy: </small>
        <b>{{ group.name }}</b>
        {% if request.user.is_superuser %}
        
        <a href="{% url 'edziennik:group_update' group.id %}" class="btn btn-sm btn-outline-success ml-1">edytuj</a>
        {% endif %}
    </div>
    <div class="col-md-6">
    {% if request.user.is_superuser %}
        <small class="text-muted">Lektor prowadzący: </small>
        {% if lector %}
        <a href="{% url 'edziennik:lector' lector.id %}">
            <b>{{ lector.user.get_full_name }}</b>
        </a>
        {% else %}
        nie przydzielono lektora
        {% endif %}
        
        <button class="btn btn-outline-success btn-sm mx-3 mb-1 btnToggle" type="button" 
        >zmień lektora</button>
        <div id="collapseNewLector" class="d-none">
        nowy lektor:
        <form action="" method="POST" class="d-inline-block">{% csrf_token %}
            <select name="newLectorId">
                {% for l in lectors %}
                <option value="{{ l.id }}">{{ l.user.get_full_name }}</option>
                {% endfor %}
            </select>
            <input type="submit" value="Zatwierdź">
        </form>
        </div>
    {% endif %}
    </div>

</div>

<section class="mt-2">
    {% if request.user.is_superuser %}
    <a href="{% url 'edziennik:add_quizlet' group.id %}" class="btn btn-primary mb-1">
        Dodaj quizlet</a>
    {% endif %}
    <a href="{% url 'edziennik:group_check' group.id %}" class="btn btn-primary mb-1" id="groupCheckBtn">
        Sprawdź obecność</a>
    <a href="{% url 'edziennik:group_grades' group.id %}" class="btn btn-primary mb-1">
        Dodaj oceny</a>
    <a href="{% url 'edziennik:attendance_by_group' group.id %}" class="btn btn-primary mb-1">
        Pokaż frekwencje</a>
    <a href="{% url 'edziennik:show_group_grades' group.id %}" class="btn btn-primary mb-1">
        Pokaż oceny</a>
    <a href="{% url 'edziennik:add_homework' group.id %}" class="btn btn-primary mb-1">
        Homework</a>
</section>
<hr>

<div class="row">
    <div class="col-md-6">
        <h4>Uczniowie:</h4>
        <div class="list-group">
            {% for s in students %}
            <a href="{% url 'edziennik:student' s.id %}" 
            class="list-group-item list-group-item-action">{{ s }}</a>
            {% endfor %}
        </div>

    </div>
    {% if request.user.is_superuser %}
    <div class="col-md-6 text-center">
        <button class="btn btn-primary btn-sm mb-1 btnToggle" type="button">
            dodaj studentów</button>
        <div class="d-none">
            zaznacz uczniów do dodania:
            <form action="" method="POST" class="d-inline-block" id="selectWithSearch">{% csrf_token %}
                <input type="text" placeholder="wyszukaj ucznia">
                <select name="newStudentId" multiple>
                    {% for s in all_students %}
                    <option value="{{ s.id }}">{{ s }} (rodzic: {{ s.parent }})</option>
                    {% endfor %}
                </select>
                <input type="submit" value="Zatwierdź">
            </form>
        </div>
        <hr>
        <button class="btn btn-primary btn-sm mb-1 btnToggle" type="button">
            usuń studentów</button>
        <div class="d-none">
            zaznacz uczniów do usunięcia:
            <form action="" method="POST" class="d-inline-block">{% csrf_token %}
                <select name="delStudentId" multiple>
                    {% for s in students %}
                    <option value="{{ s.id }}">{{ s }} (rodzic: {{ s.parent }})</option>
                    {% endfor %}
                </select>
                <input type="submit" value="Zatwierdź">
            </form>
        </div>
    </div>

    {% endif %}
</div>

<hr>
<section>
    <p class="lead">Zadania domowe:</p>
    <table class="table">
        <thead>
            <td>Data</td>
            <td>Treść</td>
        </thead>
        {% for h in homeworks %}
        <tr>
            <td>{{ h.classdate.date_of_class|date:"d.m.Y" }}</td>
            <td>{{ h.message }}</td>

        </tr>
        {% endfor %}
    </table>
</section>


{% endblock content %}

{% block javascript %}
<script src="{% static 'scripts/selectWithSearch.js' %}"></script>
<script>
    let lector = "{{ lector }}";
    let groupCheckBtn = document.getElementById('groupCheckBtn');
    groupCheckBtn.addEventListener('click', function(e){
        if (lector=='None'){
            e.preventDefault();
            alert('Musisz przydzielić lektora aby sprawdzić obecność')
        }

    })


    for (let i of document.getElementsByClassName('btnToggle')) {
        i.addEventListener('click', showToggle);
    }

    function showToggle(e) {
        if (e.target.nextElementSibling.className == 'd-inline-block') {
            e.target.nextElementSibling.className = 'd-none';
        }
        else {
            e.target.nextElementSibling.className = 'd-inline-block';
        }
    }
</script>
{% endblock %}