{% extends "edziennik/base.html" %}

{% block content %}
{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}

<p>Nazwa grupy: <b>{{ group.name }}</b><p>

<form action="{% url 'edziennik:add_grades' group.id %}" method="post">
	{% csrf_token %}
	Za co ocena: <input type="text" name="grade_name" required /><br>
	Data testu: <input type="date" name="date_of_test" />(jeśli nie podasz zostanie wybrana dzisiejsza data)<br>

	<table class="table">
	{% for student in students %}
		<tr>
	    	<td><label for="student{{ forloop.counter }}">{{ student.name }}</label></td>
	    	<td><input type="number" min="1" max="6" name="{{ student.name }}" id="student{{ forloop.counter }}" /><br /></td>
	    </tr>
	{% endfor %}
	</table>
	<input type="submit" value="Zatwierdzam" />

</form>

{% endblock content %}