{% extends "edziennik/base.html" %}
{% load static %}
{% block content %}

<p>Obecność słuchaczy w dniu <b>{% now "d m Y" %}</b></p>
<p>Nazwa grupy: <b>{{ group.name }}</b></p>

{% if error_message %}
<h2>{{ error_message }}</h2>

{% else %}

<form action="{% url 'edziennik:attendance_check' group.id %}" method="post">
{% csrf_token %}
<div class="row">
	<div class="col">
		Temat lekcji: <input type="text" name="class_subject" required />
	</div>
	<div class="col">
		<button id="additional_hour_btn" class="btn btn-sm btn-primary float-right" type="button"
		>Dodatkowa godzina</button>
		<div id="additional_hour_div">
			<input type="checkbox" name="additional_hour" id="additional_hour">
			<label for="additional_hour">zaznacz dodatkową godzinę w tej grupie</label>
		</div>
	</div>
</div>

<fieldset>
<div class="table-responsive">
<table class="table">
	<tr>
		<th>Uczeń</th>
		<th>Obecność</th>
		<th>Zadanie domowe</th>
		<th>Quizlet</th>
	</tr>
	{% for student in students %}
	<tr>
		<td>
			<label for="student{{ forloop.counter }}">{{ student.name }}</label><br />
		</td>
		<td>
				<input type="checkbox"
				name="student"
				id="student{{ forloop.counter }}"
				value="{{ student.id }}" />
		</td>
		<td>
			<input type="checkbox"
			name="homework"
			id="homework{{ forloop.counter }}"
			value="{{ student.id }}" />
			<label for="homework{{ forloop.counter }}"></label><br />
		</td>
		<td>
			{% if student.quizlet %}
			<img src="{% static 'img/check_sign_icon_green.png' %}">
			{% else %}
			{% endif %}
		</td>
	</tr>
	{% endfor %}
	
</table>
</div>
<input type="submit" value="Zatwierdzam" />
</fieldset>
</form>
{% endif %}


{% endblock content %}

{% block javascript %}
<script>
	let additional_hour_btn = document.getElementById('additional_hour_btn');
		additional_hour_btn.addEventListener('click', function() {
			document.getElementById('additional_hour_div').style.display = 'block';
		})

</script>
{% endblock javascript %}