{% extends "edziennik/base.html" %}
{% load crispy_forms_tags %}
{% load static %}

{% block content %}

<h2 class="text-center">Dodaj Grupę</h2>

<form method="post" id="groupForm">{% csrf_token %}
    <div class="form-row">
        <div class="form-group col-md-6 mb-0">
            {{ form.name|as_crispy_field }}
        </div>
        <div class="form-group col-md-6 mb-0">
            {{ form.lector|as_crispy_field }}
        </div>
    </div>

    <div class="form-group">
        {{ form.quizlet_group_url|as_crispy_field }}
    </div>

    <div class="form-row">
        <div class="col-md-6 form-group border border-secondary">
            <p>Wszyscy uczniowie:</p>
            <input type="text" placeholder="wyszukaj ucznia" id="studentSearch">
            <ul id="unselectedStudents" style="max-height: 200px; overflow-y: scroll;" class="px-0">
                {% for s in students %}
                <li id="{{ s.id }}" class="btn btn-secondary btn-sm w-100 students">{{ s.get_extended_data }}</li>
                {% endfor %}
            </ul>
        </div>
        <div class="col-md-6 form-group border border-success" id="selectWithSearch">
            <p>Wybrani uczniowie:</p>
            <ul id="selectedStudents" class="px-0"></ul>
        </div>
    </div>


    <input type="submit" value="Zapisz" class="btn btn-sm btn-primary">
</form>


{% endblock content %}

{% block javascript %}
<script src="{% static 'scripts/groupSelectStudents.js' %}"></script>
{% endblock %}