{% extends "edziennik/base.html" %}
{% block content %}
<section class="center-400">
<h1><small class='helper'>Nazwa grupy: </small>{{ group.name }}</h1>
{% if request.user.is_superuser %}
<h1>
  <small class='helper'>Lektor prowadzący: </small>
  <a href="{% url 'edziennik:name_lektor' lector.id %}">{{ lector.user }}</a>
</h1>
{% endif %}

<ul class="no-indent">
    {% if request.user.is_superuser %}
    <li class="large-btn">
      <a href="{% url 'edziennik:add_quizlet' group.id %}">Dodaj quizlet</a>
    </li>
    {% endif %}
  <li class="large-btn">
      <a href="{% url 'edziennik:name_group_check' group.id %}">Sprawdź obecność</a>
  </li>
  <li class="large-btn">
      <a href="{% url 'edziennik:group_grades' group.id %}">Dodaj oceny</a>
  </li>
  <li class="large-btn">
      <a href="{% url 'edziennik:name_attendance_by_group' group.id %}">Pokaż frekwencje</a>  
  </li>
  <li class="large-btn">
      <a href="{% url 'edziennik:show_group_grades' group.id %}">Pokaż oceny</a>    
  </li>
</ul>

</section>
{% endblock content %}