{% extends "edziennik/base.html" %}
{% block content %}

<h1>Nazwa grupy: {{ groupp.group_name }}</h1>
{% if request.user.is_superuser %}
Lektor prowadzący: <a href="{% url 'edziennik:name_lektor' lektor.id %}">{{ lektor.lektor_name }}</a>
{% endif %}


    <table>
    <tr>{% for y in new.0|slice:"0:2"  %}
      <th>{{ y }}</th>
       {% endfor %}

       {% for y in new.0|slice:"2:"  %}
      <th><a href="{% url 'edziennik:name_student' y.1 %}">{{ y.0 }}</a></th>
       {% endfor %}

    </tr>
    

    {% for i in new|slice:"1:" %}  
    <tr>{% for y in i  %}
      <td>{{ y }}</td>
       {% endfor %}
    </tr>
    {% endfor %}
  </table>

{% endblock content %}