{% extends "edziennik/base.html" %}
{% block content %}

<h1><small class='helper'>Nazwa grupy: </small>{{ groupp.group_name }}</h1>
{% if request.user.is_superuser %}
Lektor prowadzący: <a href="{% url 'edziennik:name_lektor' lektor.id %}">{{ lektor.lektor_name }}</a>
{% endif %}


    <table>
    <tr>{% for y in new.0|slice:"0:2"  %}
      <th>{{ y }}</th>
       {% endfor %}

       {% for y in new.0|slice:"2:"  %}
      <th><a href="{% url 'edziennik:name_student' y.1 %}">{{ y.0 }}</a></th>
       {% endfor %}

    </tr>
    

    {% for i in new|slice:"1:" %}  
    <tr>
      <td>{{ i.0 }}</td>
      <td>{{ i.1|date:"d/m/Y" }}</td>
      {% for y in i|slice:"2:"  %}
      <td>{% if y == None %}-{% else %}{{ y }}{% endif %}</td>
      {% endfor %}
    </tr>
    {% endfor %}
  </table>

{% endblock content %}