{% extends "edziennik/base.html" %}
{% block content %}

<p class="text-center"><small>Zalogowano jako:</small> <b>{{ user.get_username }}</b></p>

<section>
    <div class="d-inline-block ">
        <form action="" method="GET">
        <input type="text" name="fname" placeholder="imię ucznia">
        <input type="text" name="lname" placeholder="nazwisko ucznia">
        <input type="submit" value="szukaj ucznia">
        </form>

    {% if students %}
    <table class="table table-sm table-hover">
        <thead>
            <tr>
                <td>
                    Imię i nazwisko
                </td>
                <td>
                    Grupy
                </td>
            </tr>
        </thead>
        <tbody>
            {% for s in students %}
            <tr>
                <td><a href="{% url 'edziennik:student' s.student.id %}">{{ s.student }}</a></td>
                <td>
                    {% for g in s.groups %}
                    <a href="{% url 'edziennik:group' g.id %}">{{ g }}</a> 
                    {% endfor %}
                </td>

            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% endif %}

    </div>
    <a href="{% url 'edziennik:student_list' %}">
        <button class="btn blue-btn ml-3 float-right">Uczniowie</button>

    </a>
    <hr>
    <div><h3>Lektorzy: </h3>
    {% if lectors %}
    <ul class="list-unstyled">
        {% for lector in lectors %}
            <li>
            <a class="btn" href="{% url 'edziennik:lector' lector.id %}">{{ lector.user }}</a>
            </li>
        {% endfor %}
    </ul>
    {% else %}
        <p>Nie masz żadnych lektorów</p>
    {% endif %}
    </div>
    <hr>

    <div><h3>Grupy: </h3>
    {% if groups %}
    <ul class="list-unstyled">
        {% for group in groups %}
            <li>
            <a class="btn" href="{% url 'edziennik:group' group.id %}">{{ group.name }}</a>    
            </li>
        {% endfor %}
    </ul>
    {% else %}
        <p>Nie masz żadnych grup</p>
    {% endif %}
    </div>
</section>
    
{% endblock content %}