{% extends "edziennik/base.html" %}
{% block content %}

<div id="user_credentials">
    <span class="descriptor">Zalogowano jako: </span><span id="username">{{ user.get_full_name }}</span>
</div>
        
    <section class="center-400">

    <h2>Wybierz grupę:</h2>
    
    {% if groups %}
        <ul class="no-indent">
        {% for group in groups %}
            <li class="large-btn">
                <a href="{% url 'edziennik:name_group' group.id %}">{{ group.name }}</a>
            </li>
        {% endfor %}
        </ul>
    {% else %}
        <p>No group available.</p>
    {% endif %}
    </section>
    
{% endblock content %}