{% extends "edziennik/base.html" %}
{% block content %}

<p class="text-center"><small>Zalogowano jako:</small> <b>{{ user.get_username }}</b></p>

<section>
    <div class="d-inline-block ">
        <form action="" method="GET">
        <input type="text" name="fname" placeholder="imię ucznia">
        <input type="text" name="lname" placeholder="nazwisko ucznia">
        <input type="submit" value="szukaj ucznia">
        </form>

    {% if results %}
    <table class="table table-sm table-hover">
        <thead>
            <tr>
                <td>
                    Imię i nazwisko
                </td>
                <td>
                    Grupa
                </td>
            </tr>
        </thead>
        <tbody>
            {% for s in results %}
            <tr>
                <td><a href="{% url 'edziennik:student' s.id %}">{{ s }}</a></td>
                <td><a href="{% url 'edziennik:group' s.group.id %}">{{ s.group }}</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% endif %}

    </div>
    <a href="{% url 'edziennik:student_list' %}">
        <button class="btn blue-btn ml-3 float-right">Uczniowie</button>

    </a>
    <div><h2>Lektorzy: </h2>
    {% if lectors %}
    {% for lector in lectors %}
    <a href="{% url 'edziennik:lector' lector.id %}">
        <button class="btn btn-lg blue-btn">{{ lector.user }}</button>
    </a>
    {% endfor %}
    {% else %}
        <p>Nie masz żadnych lektorów</p>
    {% endif %}
    </div>

    <div><h2>Grupy: </h2>
    {% if groups %}
    {% for group in groups %}
    <a href="{% url 'edziennik:group' group.id %}">
        <button class="btn btn-lg blue-btn">{{ group.name }}</button>
    </a>    
    {% endfor %}
    {% else %}
        <p>Nie masz żadnych grup</p>
    {% endif %}
    </div>
</section>
    
{% endblock content %}