{% extends "edziennik/base.html" %}

{% block content %}

<h1>Plik importu xlsx</h1>
<p>Dodany: {{ object.uploaded_at }}</p>
<p>Nazwa pliku: {{ object.filename }}</p>

<form action="" method="POST">{% csrf_token %}
    <input type="hidden" value="{{ object.id }}" name="initial_import_file" >
    <input type="submit" value="Rozpocznij import">
</form>


{% if object.initial_import_usage_set.all %}
<h3>Użycia pliku:</h3>
<ul>
{% for f in object.initial_import_usage_set.all %}
<li>
    <a href="{% url 'edziennik:initial_import_usage_detail' f.id %}">{{ f.used|date:'Y-m-d H:i' }}</a>
     {% if f.initial_import_usage_errors_set.all %}BŁĘDY{% endif %}
</li>
{% endfor %}
</ul>
{% endif %}
{% endblock content %}