{% extends "edziennik/base.html" %}
{% block content %}
<section>
    {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
    <h1>Lektor: {{ lector.user.get_full_name }}</h1>

    {% if lectors_groups %}
    <p>Obecne grupy:</p>
    {% for group in lectors_groups %}
    <a href="{% url 'edziennik:group' group.id %}">
        <button class="btn btn-lg blue-btn">{{ group.name }}</button>
    </a> 
    {% endfor %}
    {% else %}
    <p>Nie ma żadnych grup</p>
    {% endif %}
</section>
{% endblock content %}