{% extends "edziennik/base.html" %}
{% block content %}
<section>
    {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
    <h1>Lektor: {{ lector.user.get_full_name }}</h1>
<a href="{% url 'edziennik:lector_update' lector.id %}" class="btn btn-sm btn-outline-primary">edytuj</a>
    <div class="row">
        <div class="col-sm">
        <h4 class="text-center">Obecne grupy:</h4>
        {% for group in lectors_groups %}
        <a href="{% url 'edziennik:group' group.id %}" class="btn btn-sm btn-primary d-block">
        {{ group.name }}</a> 
        {% empty %}
        <p>Nie ma żadnych grup</p>
        {% endfor %}
        </div>
        <div class="col-sm text-center">
            <button class="btn btn-primary btn-sm mb-1" 
            type="button" id="showAddGroup">dodaj grupy</button>
            <div id="collapseNewGroups" class="d-none">
                zaznacz grupy do dodania:
                <form action="" method="POST" class="d-inline-block">{% csrf_token %}
                    <select name="newGroups" multiple>
                        {% for g in groups %}
                        <option value="{{ g.id }}">{{ g.name }}</option>
                        {% endfor %}
                    </select>
                    <input type="submit" value="Zatwierdź">
                </form>
            </div>
        </div>
        <div class="col-sm text-center">
            <button class="btn btn-primary btn-sm mb-1" type="button" id="showDelGroup">usuń grupy</button>
            <div id="collapseDelGroups" class="d-none">
                zaznacz grupy do dodania:
                <form action="" method="POST" class="d-inline-block">{% csrf_token %}
                    <select name="delGroups" multiple>
                        {% for g in lectors_groups %}
                        <option value="{{ g.id }}">{{ g.name }}</option>
                        {% endfor %}
                    </select>
                    <input type="submit" value="Zatwierdź">
                </form>
            </div>
        </div>

    </div>
    <hr>

    <h2>Godziny</h2>
    <table class="table table-striped">
        <thead>
            <th>Miesiąc</th>
            <th>liczba godzin</th>
        </thead>
        <tbody>
            {% for i in hours_in_month_list %}
            <tr>
                <td>{{ i.0 }}</td>
                <td>{{ i.1 }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <p>Łączna liczba godzin w tym roku szkolnym 
        <small>(wrzesień - sierpień)</small>: {{ total_hours_year }}</p>

    <hr>
    <p>Username: {{ lector.user.username }}</p>
    <p>Hasło domyślne: {{ lector.initial_password }}</p>
    
</section>

<script>
    const showAddGroup = document.getElementById('showAddGroup');
    const collapseNewGroups = document.getElementById('collapseNewGroups');
    showAddGroup.addEventListener('click', function () {
        if (collapseNewGroups.className == 'd-inline-block') {
            collapseNewGroups.className = 'd-none';
        }
        else {
            collapseNewGroups.className = 'd-inline-block';
        }
    })

    const showDelGroup = document.getElementById('showDelGroup');
    const collapseDelGroups = document.getElementById('collapseDelGroups');
    showDelGroup.addEventListener('click', function () {
        if (collapseDelGroups.className == 'd-inline-block') {
            collapseDelGroups.className = 'd-none';
        }
        else {
            collapseDelGroups.className = 'd-inline-block';
        }
    })
</script>

{% endblock content %}