{% extends "edziennik/base.html" %}

{% block content %}

<section class="bg-light text-dark p-2">
    <h3 class="d-inline-block">Rodzice:</h3>
    <a href="{% url 'edziennik:parent_create' %}" class="btn btn-sm btn-outline-success float-right d-inline-block">
        Utwórz rodzica
    </a>
    <form action="" method="GET" class="form-inline mb-2">
        <input type="text" name="fname" placeholder="imię rodzica" class="form-control form-control-sm">
        <input type="text" name="lname" placeholder="nazwisko rodzica" class="form-control form-control-sm">
        <input type="text" name="phone" placeholder="nr tel" class="form-control form-control-sm">
        <input type="text" name="email" placeholder="email" class="form-control form-control-sm">
        <input type="text" name="username" placeholder="username" class="form-control form-control-sm">
        <input type="submit" value="szukaj rodzica" class="form-control form-control-sm">
    </form>

    <form action="" method="GET" class="form-inline mb-2">
        <select name="sortBy" class="form-control form-control-sm">
            <option value="lnaz">nazwisko (A->Z)</option>
            <option value="lnza">nazwisko (Z->A)</option>
            <option value="fnaz">imię (A->Z)</option>
            <option value="fnza">imię (Z->A)</option>
            <option value="caz">dodany (od najnowszego)</option>
            <option value="cza">dodany (od najstarszego)</option>
        </select>

        <input type="submit" value="sortuj" class="form-control form-control-sm">
    </form>
    <table class="table table-sm table-hover table-bordered">

       <thead >
           <tr >
                <td>Imię i nazwisko</td>
                <td>dodany</td>
                <td>telefon</td>
                <td>email</td>
                <td>username</td>
                <td>uczniowie</td>
            </tr >
        </thead >
        <tbody >
            {% for p in parents %}
            <tr >
                <td><a href="{% url 'edziennik:parent_datail' p.id %}">
                    {{ p.user.last_name }} {{ p.user.first_name }}</a>
                </td>
                <td><small>{{ p.created|date:'d.m.Y' }}</small></td>
                <td><small>{{ p.phone_number }}</small></td>
                <td><small>{{ p.email }}</small></td>
                <td><small>{{ p.user.username }}</small></td>
                <td >
                    {% for s in p.student_set.all %}
                    <a href = "{% url 'edziennik:student' s.id %}"><small>{{ s }}</small></a> 
                    {% endfor %}
                </td >
            </tr >
            {% endfor %}
        </tbody >
    </table >
</section >


{% endblock content %}
