{% extends "edziennik/base.html" %}
{% block content %}

{% if request.user.is_authenticated %}
<div class="select-group">
	<h3>Aby sprawdzić obecność wybierz grupę:</h3>

	{% if group_list %}
	    <ul>
	    {% for group in group_list %}
	        <li><a href="{% url 'edziennik:name_group_check' group.id %}">{{ group.group_name }}</a></li>
	    {% endfor %}
	    </ul>
	{% else %}
	    <p>No groups are available.</p>
	{% endif %}
</div>
{% else %}
<h2>Zaloguj się</h2>
    <form method="POST" action="{% url 'auth_login' %}" >{% csrf_token %}
        <input type="text" name="username" placeholder="username">
        <input type="password" name="password" placeholder="password">
        <button type="submit">Login</button>
    </form>
{% endif %}

{% endblock content %}