{% extends "edziennik/base.html" %}
{% block content %}

<h1><small class='helper'>Nazwa grupy: </small>{{ group.name }}</h1>
{% if request.user.is_superuser %}
Lektor prowadzący: <a href="{% url 'edziennik:name_lektor' lector.id %}">{{ lector.user }}</a>
{% endif %}

  <table>
    <tr>
      {% for i in table_header %}
      <th>{{ i }}</th>
      {% endfor %}
    </tr>
    {% for i in table_content %}
    <tr>
      {% for j in i %}
      <td>{{ j }}</td>
      {% endfor %}
    </tr>
    {% endfor %}
  </table>

{% endblock content %}