{% extends "edziennik/base.html" %}
{% block content %}
<h1 class="text-center">Oceny</h1>
<div class="row my-3">
    <div class="col-md-6">
        <small class="text-muted">Nazwa grupy: </small>
        <b>{{ group.name }}</b>
    </div>
    <div class="col-md-6">
    {% if request.user.is_superuser %}
        <small class="text-muted">Lektor prowadzący: </small>
        {% if group.lector %}
        <a href="{% url 'edziennik:lector' group.lector.id %}">
            <b>{{ group.lector.user.get_full_name }}</b>
        </a>
        {% else %}
        nie przydzielono lektora
        {% endif %}
    {% endif %}
    </div>

</div>


<div class="table-responsive">
<table class="table">
    <tr>
        <th>data</th>
        <th>za co</th>
        {% for student in students %}
        <th><a href="{% url 'edziennik:student' student.id %}">{{ student }}</a></th>
        {% endfor %}
      </tr>
  {% for i in table_content %}
  <tr>
    {% for j in i %}
    <td>{{ j }}</td>
    {% endfor %}
  </tr>
  {% endfor %}
</table>
</div>
{% endblock content %}