{% extends "edziennik/base.html" %}
{% load static %}
{% block content %}
<section>
{% if not request.user.is_authenticated %}
    <h2>Zaloguj się</h2>
    <form method="POST" action="{% url 'auth_login' %}" >{% csrf_token %}
        <input type="text" name="username" placeholder="nazwa użytkownika">
        <input type="password" name="password" placeholder="hasło">
        <input type="hidden" name="next" value="{% url 'edziennik:student' student.id %}" />
        <button type="submit">Login</button>
    </form>
{% else %}
    {% if request.user.is_superuser or request.user in lectors or request.user == student.parent.user  %}
        <section class="mb-5">
        <h1 class="text-center">
            <small class="text-muted">uczeń: </small>
            {{ student }}
            <small class="text-muted">
                 (rodzic:<a href="{% url 'edziennik:parent_datail' student.parent.id %}">
                     {{ student.parent.user.get_full_name }}</a>)
            </small>
        </h1>
        {% if request.user.is_superuser %}
        <hr>
        <p>Notatka rekrutacyjna: 
        {% if student.recruitment_note %}
        {{ student.recruitment_note }}
        {% endif %}
        </p>
        <a href="{% url 'edziennik:student_update' student.id %}"
        class="btn btn-sm btn-outline-primary">edytuj ucznia</a>
        {% endif %}
        <hr>
        <h2 class="text-center mt-3">Oceny</h2>
        {% for student_group in student_groups %}
            <p>Grupa: <b>{{ student_group.group.name }}</b>, Lektor: <b>
            {% if student_group.group.lector %}
                {{ student_group.group.lector.user.get_full_name}}
            {% else %}
                lektor nie został przypisany
            {% endif %}
            </b></p>
            <p>Ostatnie zadania domowe:</p>
            <ul class="list-unstyled">
                {% for h in student_group.homeworks %}
                <li>
                    Data: {{ h.classdate.date_of_class }}, treść: {{ h.message }}
                </li>
                {% endfor %}
            </ul>
                {% if student_group.grade_list %}
                <table class="table">
                    <tr>
                        <th>Data</th>
                        <th>Za co</th>
                        <th>Ocena</th>
                    </tr>
                    {% for i in student_group.grade_list %}
                    <tr>
                        {% for j in i %}
                        <td>{{ j }}</td>
                        {% endfor %}
                    </tr>
                    {% endfor %}
                </table>

                {% else %}
                <p>Nie ma jeszcze żadnych ocen</p>
                {% endif %}
            <hr class="mb-3">
        {% endfor %}
        </section>
    {% else %}

        nie masz uprawnień
        
    {% endif %}

    {% if request.user.is_superuser or request.user in lectors %}
        
        <h2 class="text-center">Frekwencja</h2>
        {% for student_group in student_groups %}
            <p>Grupa: <b>{{ student_group.group.name }}</b>, Lektor: <b>
            {% if student_group.group.lector %}
                {{ student_group.group.lector.user.get_full_name}}
            {% else %}
                lektor nie został przypisany
            {% endif %}
            </b></p>
            <table class="table">
                <tr>
                {% for i in student_group.attendence_table_header %}
                <td>{{ i }}</td>
                {% endfor %}
                </tr>

                {% for i in student_group.attendance_table_content %}
                <tr>
                {% for j in i %}
                <td>{{ j|safe }}</td>
                {% endfor %}  
                </tr>
                {% endfor %}
            </table>

            <table class="table">
                    <tr>
                        <td><img src="{% static 'img/x-mark-red.png' %}"></td>
                        <td><img src="{% static 'img/check_sign_icon_green.png' %}"></td>
                        <td><img src="{% static 'img/green_on_red.png' %}"></td>
                    </tr>
                    <tr>
                        <td>nieobecny</td>
                        <td>obecny</td>
                        <td>obecny bez zadania domowego</td>
                    </tr>
            </table>
            <hr>
        {% endfor %}
    {% endif %}

{% endif %}
</section>
{% endblock content %}