{% extends "edziennik/base.html" %}
{% block content %}

<section class="bg-light text-dark p-2">
    <h3 class="d-inline-block">Uczniowie:</h3>
    <a href="{% url 'edziennik:student_create' %}"
    class="btn btn-sm btn-outline-success float-right d-inline-block">
        Utwórz ucznia
    </a>
    <form action="" method="GET" class="form-inline mb-2">
        <input type="text" name="fname" placeholder="imię ucznia" class="form-control form-control-sm">
        <input type="text" name="lname" placeholder="nazwisko ucznia" class="form-control form-control-sm">
        <input type="submit" value="szukaj ucznia" class="form-control form-control-sm">
    </form>
    <table class="table table-sm table-hover">
        <thead>
            <tr>
                <td>
                    Imię i nazwisko
                </td>
                <td>
                    Grupy
                </td>
            </tr>
        </thead>
        <tbody>
            {% for s in students %}
            <tr>
                <td><a href="{% url 'edziennik:student' s.id %}">{{ s }}</a></td>
                <td>
                    {% for g in s.group_student.all %}
                    <a href="{% url 'edziennik:group' g.id %}">{{ g }}</a>
                    {% endfor %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>


</section>
{% endblock content %}