{% extends "edziennik/base.html" %}
{% load static %}
{% block scripts %}
<script src="https://kit.fontawesome.com/3f2c316c9a.js" crossorigin="anonymous"></script>
{% endblock %}

{% block content %}
<section>
{% if not request.user.is_authenticated %}
    <h2>Zaloguj się</h2>
    <form method="POST" action="{% url 'auth_login' %}" >{% csrf_token %}
        <input type="text" name="username" placeholder="nazwa użytkownika">
        <input type="password" name="password" placeholder="hasło">
        <input type="hidden" name="next" value="{% url 'edziennik:student' student.id %}" />
        <button type="submit">Login</button>
    </form>
{% else %}
    {% if request.user.is_superuser or request.user in lectors or request.user == student.parent.user  %}
        <section class="mb-5">
        <h3 class="text-center">
            <small class="text-muted">uczeń: </small>
            {{ student }}
            {% if request.user.is_superuser %}
            <small class="text-muted">
                 (rodzic:<a href="{% url 'edziennik:parent_datail' student.parent.id %}">
                     {{ student.parent.user.get_full_name }}</a>)
            </small>
            {% endif %}
        </h3>
        {% if request.user.is_superuser %}
        <hr>
        <p>Grupy: 
            {% for g in student.group_student.all %}
            <a href="{% url 'edziennik:group' g.id %}">{{ g }}</a> 
            {% endfor %}</p>
        <p>Notatka rekrutacyjna: 
        {% if student.recruitment_note %}
        {{ student.recruitment_note }}
        {% endif %}
        </p>
        <a href="{% url 'edziennik:student_update' student.id %}"
        class="btn btn-sm btn-outline-primary">edytuj ucznia</a>
        {% endif %}
        <hr>

        {% for student_group in student_groups %}
            <h4><small class="text-muted">Grupa: </small>{{ student_group.group.name }} 
                <small class="text-muted">Lektor: 
            {% if student_group.group.lector %}
                {{ student_group.group.lector.user.get_full_name}}
            {% else %}
                lektor nie został przypisany
            {% endif %}
            </small></h4>
            <hr>
            <p class="lead">Ostatnie zadania domowe:</p>
            <ul class="list-group list-group-flush">
                {% for h in student_group.homeworks %}
                <li class="list-group-item">
                    {{ h.classdate.date_of_class|date:'d/m/Y' }}: {{ h.message }}
                </li>
                {% endfor %}
            </ul>
            <hr>

            <p class="lead">Oceny:</p>
            {% if student_group.grade_list %}
            <div class="table-responsive">
            <table class="table">
                <tr>
                    <th>Data</th>
                    <th>Za co</th>
                    <th>Ocena</th>
                </tr>
                {% for i in student_group.grade_list %}
                <tr>
                    {% for j in i %}
                    <td>{{ j }}</td>
                    {% endfor %}
                </tr>
                {% endfor %}
            </table>
            </div>
            {% else %}
            <p>Nie ma jeszcze żadnych ocen</p>
            {% endif %}
            <hr class="mb-3">
        
        <p class="lead">Frekwencja:</p>
            <div class="table-responsive">
            <table class="table">
                <tr>
                {% for i in student_group.attendence_table_header %}
                <td>{{ i }}</td>
                {% endfor %}
                </tr>

                {% for i in student_group.attendance_table_content %}
                <tr>
                {% for j in i %}
                <td>{{ j|safe }}</td>
                {% endfor %}  
                </tr>
                {% endfor %}
            </table>
            </div>
            <hr>
            <small class="text-muted">Legenda:</small>
            <div class="table-responsive">
            <table class="table">
                <tr>
                    <td><i class="fas fa-times text-danger"></i></td>
                    <td><i class="fas fa-check text-success"></i></td>
                    <td><i class="fas fa-check text-success border border-danger"></i></td>
                </tr>
                <tr>
                    <td>nieobecny</td>
                    <td>obecny</td>
                    <td>obecny bez zadania domowego</td>
                </tr>
            </table>
            </div>
        <hr class="m-0">
        <hr class="m-0">
        {% endfor %}
        </section>

    {% else %}
    
    nie masz uprawnień
    
    {% endif %}

{% endif %}
</section>
{% endblock content %}