{% extends "edziennik/base.html" %}
{% block content %}

<section>
    <h2>Lista uczniów:</h2>
    <table class="table table-sm table-hover">
        <thead>
            <tr>
                <td>
                    Imię i nazwisko
                </td>
                <td>
                    Grupy
                </td>
            </tr>
        </thead>
        <tbody>
            {% for s in students %}
            <tr>
                <td><a href="{% url 'edziennik:student' s.student.id %}">{{ s.student }}</a></td>
                <td>
                    {% for g in s.groups %}
                    <a href="{ url 'edziennik:group' g.id }">{{ g }}</a>
                    {% endfor %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>


</section>
{% endblock content %}