{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load i18n %}

{% block content %}
<div class='col-sm-6 col-sm-offset-3'>
<h1>Resetuj hasło</h1>
<p>Jeśli hasło zostało utracone utwórz nowe. Podaj swój adres email i odbierz wiadomość (jeśli nie doszła sprawdź folder 'SPAM') i postępuj zgodnie z instrukcją.</p>
<form method="post" action=".">
  {% csrf_token %} 
    {{ form|crispy }}

  <input class='btn btn-primary' type="submit" value="{% trans 'Reset' %}" />
</form>
</div>
{% endblock %}


