/*projektdziennik\projektdziennik\static\css*/

body {
  background: #4193FF;background: url("../img/edziennik-bg-pattern.3c6467278a66.png"),linear-gradient(to left,#7b4397,#669fd0);
}

.top-btn {
  background: #ff8400;
  background-image: -webkit-linear-gradient(top, #ff8400, #fa3232);
  background-image: -moz-linear-gradient(top, #ff8400, #fa3232);
  background-image: -ms-linear-gradient(top, #ff8400, #fa3232);
  background-image: -o-linear-gradient(top, #ff8400, #fa3232);
  background-image: linear-gradient(to bottom, #ff8400, #fa3232);
  text-shadow: 1px 1px 0px #666666;
  color: #9a9ff1;
  cursor: pointer;
}

.top-btn:hover {
  background: #e60a03;
  background-image: -webkit-linear-gradient(top, #e60a03, #e0d500);
  background-image: -moz-linear-gradient(top, #e60a03, #e0d500);
  background-image: -ms-linear-gradient(top, #e60a03, #e0d500);
  background-image: -o-linear-gradient(top, #e60a03, #e0d500);
  background-image: linear-gradient(to bottom, #e60a03, #e0d500);
}

.blue-btn {
  background: #3498db;
  background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
  background-image: -moz-linear-gradient(top, #3498db, #2980b9);
  background-image: -ms-linear-gradient(top, #3498db, #2980b9);
  background-image: -o-linear-gradient(top, #3498db, #2980b9);
  background-image: linear-gradient(to bottom, #3498db, #2980b9);
  margin-top: 1%;
  cursor: pointer;
  text-shadow: 1px 1px 0px #666666;
  color: #ffffff;
}



.blue-btn:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
}

@media only screen and (max-width: 800px) {
  .blue-btn {
    width: 100%;
    font-size: 2em;
  }
}

#modal-main{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 5%;
}

#modal-main img{
    display: block;
    width: 100%;
    margin: 0 auto;
}
#modal-content{
    position: relative;
    width: 60%;
    margin: 0 auto;
    background-color: rgba(0, 0, 0, 0.8);
    color: rgb(218, 202, 202);
}

#modal-content form{
    padding: 1%;
}

#closeBtn{
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    color:#ccc;
    font-size: 30px;
    background-color:  rgba(0, 0, 0, 0.5);
    padding: 1% 2%;
}

#closeBtn:hover{
    color:#fff;
    background-color:  rgba(0, 0, 0, 0.9);
    cursor: pointer;
}


#additional_hour_div {
  display: none;
}